h1{
    font-size:60px;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color:lightgreen;
    padding:0px 10px;
}
h3{
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
    background-color: grey;
    color:lightgreen;
    padding:0px 20px;
}
p{
    color:black;
    margin:25px;
    font-size:20px;
}
li{
    color:black;
    font-size:20px;
    margin:10px;
}
body{
    background-color: lightpink;
}