h1{
    font-size:60px;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color:lightgreen;
}
h3{
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
    background-color: grey;
    color:lightgreen;
}
p{
    color:black;
}
li{
    color:black;
}
body{
    background-color: lightpink;
}