.title{
    background-color: rgb(0, 0, 0);
    color:lightgreen;
    font-family:'Courier New', Courier, monospace;
    font-size:50px;
    padding:0px 10px;
}
.recipe{
    font-size:25px;
    font-family:"Times New Roman", sans-serif;
    margin:20px;

}